[Unit]
Description=Runs cp-pxgrid-bulkdl every X hours

[Timer]
AccuracySec=1s
OnCalendar=00/8:05:0
Unit=cp-pxgrid-bulkdl.service

[Install]
WantedBy=multi-user.target
